 body{
    margin: 0;
    color:#40514E;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
}
h1{
    color: #66BFBF;
    margin: 0;
            /* font-size: 54px = 377.5% ( 100*54/16= % ) =3.375em(54/16)   (16px = 100% = 1em)     */  
    font-size: 337.5%;
} 
h2{
    color: #11999E;
    font-size: 35px;
}
h3{
    font-size: 22px;
    color: #11999E;
    font-weight: normal;
}
.top-container p{
    font-size: 20px;
    /* line-height: 2; */
    width: 50%;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} 

    hr{
        width: 10%;
        border-style:none;
        border-top-style:dotted; 
        border-color:#D1D9D9;
        border-width:10px;
        margin-top: 50px;
    }
.hr2{
        width: 10%;
        border-style:none;
        border-top-style:dotted; 
        border-color:#D1D9D9;
        border-width:10px;
        margin-top: -35px;
    }
.top-container {
    margin: 0px;
    background-color: #E4F9F5; 
    /* padding: 20px; */
    height: 577px;
    width: 100%;
     /* border:solid 10px; */
   
}
 .top-container p{
   font-size: 30px;
   margin-top: 6px;
   font-family:'Courier New', Courier, monospace;
}
.moutain{
    margin-top: -10px;
}
/* .bottom-container{
    background-color: green;
    height: 200px;
    width: 200px;
    display:inline-block
}  */
.pro{
    text-decoration: underline;
}
.top-cloud{
/* position: absolute; */
 padding-left: 48%;
padding-top:2%; 
height:70px;
}
.bottom-cloud{
position:absolute;
height: 70px;
left:200px;
}

.middle-container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
     margin-top: 45px;
}
.middle-container p{
    font-weight: bold;
    width: 40%;
    margin: auto;
}
.skills img{
   
    border-radius: 50%;
} 
.skill-row {
    width: 60%;
    margin: 50px auto 100px auto;
   /* float: left; */
    text-align: left;
    line-height: 1.5;
    font-weight:bold;
}
.code-image{
    width: 25%;
    float:left;
    margin-right: 45px;
}
.chilli-image{
    width:25%;
    float:right;    
    margin-left: 30px;
}
.skills h3{
    color: #11999E;
    font-size: 30px;
    font-weight: bold;
}
.contact h4{
    font-weight: bold;
    color: #11999E;
}
.contact p{
font-weight: bold;
width: 50%;
margin: auto;
}
.btn {
    background: #11999E;
    border-radius: 11px;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  
  .btn:hover {
    background: #48ced3;;
  }
  .last-container{
      background-color: #5ccfd3;
      height: 110px;
      padding: 62px 0px 10px;
  }
   .last-container a{
      margin-left: 55px;
      color: #034547;
  } 
  .last-container p{
      margin-top: 30px;
      color: #f9fbfc;
  }
  a:hover{
      color:rgb(28, 105, 177);
  }